@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    background-color: #f4f4f4;
    transition: transform 0.3s ease;
}

main {
    margin: 0 5%;
}
  
h1 {
    font-size: 36px;
}

a {
    text-decoration: none;
}

button {
    margin-top: 1rem;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

header {
    margin: 0 5%;
    margin-bottom: 4rem;
}

header h2 {
    font-size: 18px;
    font-weight: 400;
  }

/* forms */
.form-group {
    margin: 0.5rem 0;
}

form input[type="text"] {
    font-size: 14px;
    height: 28px;
    border-radius: 3px;
}

#test-form-area {
    margin-bottom: 3rem;
}

#title-form {
    margin-bottom: 3rem;
}

form label[for="question"] {
    color: red;
}

form label[for="answer-one"] {
    color: green;
}

form input {
    margin: 0.1rem 0 0.4rem 0;
}

/* buttons */
form button {
    background-color: #333;
    color: #fff;
}

.delete-btn {
    background-color: #b30000;
    color: #fff;
    font-size: 14px;
    padding: 8px;
    margin-left: 3rem;
}

#print-btn {
    background-color: #009933;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 16px;
    margin: 2rem 5rem;
}

#randomize-btn {
    background-color: #333;
    color: #fff;
}

/* sections */
main {
    display: flex;
    width: 100vw;
}

main section {
    width: 50%;
}

/* instructions div */
#instructions {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 520px;
    z-index: 1;
    transform: translateX(-100%)
}
  
#instructions p {
    margin: 1rem;
}
  
#instructions p:first-of-type {
    font-size: 24px;
}
  
#instructions span {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 25px;
    cursor: pointer;
}
  
.open-sidebar {
    transform: translateX(300px)
}
  
#instructions-btn-area {
    margin-top: 1rem;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#instructions-btn-area #instructions-btn {
    border: none;
    background-color: transparent;
    font-size: 18px;
    transition: 0.3s;
}

#instructions-btn-area a {
    color: #333;
}
  
#instructions-btn-area #instructions-btn:hover {
    color: #666;
}

/* question error area */
#question-error-area {
    display: hidden;
    color: red;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
  
footer a {
    color: #2F3640;
    font-weight: 600;
}